# Content

##### Price Tomato
Tomato Price across markets in karnataka from 2016-2018

##### Features
- Market: name of the market where vegetable sold
- Arrival Date: date Vegetable arrived
- Arrivals (Tonnes): number of tonnes arrives
- Variety: variety of the tomato
- Minimum Price(Rs./Quintal): minimum Price Per Quintal(100 kgs)
- Maximum Price(Rs./Quintal): maximum Price Per Quintal(100kgs)
- Modal Price(Rs./Quintal): Average Price

# What to predict?

?

# Import Modules

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

# Initialize and load dataset

In [2]:
raw_df = pd.read_csv('../dataset/tomato/Price of Tomato Karnataka(2016-2018).csv')

In [3]:
raw_df.describe(include='all')

,Market,Arrival Date,Arrivals (Tonnes),Variety,Minimum Price(Rs./Quintal),Maximum Price(Rs./Quintal),Modal Price(Rs./Quintal)
count,11456,11321,11321.000000,11421,11456,11456,11456
unique,40,844,NaN,2,679,934,1016
top,Kolar,16/08/2016,NaN,Tomato,300,1000,500
freq,954,24,NaN,11196,1179,939,675
mean,NaN,NaN,80.269146,NaN,NaN,NaN,NaN
std,NaN,NaN,154.967086,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,19.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,70.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,1931.000000,NaN,NaN,NaN,NaN

# Show dataset in table

In [4]:
raw_df.head(10)

,Market,Arrival Date,Arrivals (Tonnes),Variety,Minimum Price(Rs./Quintal),Maximum Price(Rs./Quintal),Modal Price(Rs./Quintal)
0,Bagepalli,2/1/2016,6.0,Tomato,1000,1800,1550
1,Bagepalli,4/1/2016,6.0,Tomato,900,1800,1550
2,Bagepalli,5/1/2016,6.0,Tomato,1400,2500,2200
3,Bagepalli,6/1/2016,4.0,Tomato,1400,3000,2400
4,Bagepalli,7/1/2016,5.0,Tomato,1400,2600,2200
5,Bagepalli,11/1/2016,5.0,Tomato,1400,2800,2200
6,Bagepalli,12/1/2016,6.0,Tomato,1500,2400,2000
7,Bagepalli,13/01/2016,7.0,Tomato,1400,2600,2200
8,Bagepalli,14/01/2016,7.0,Tomato,1200,2200,2000
9,Bagepalli,16/01/2016,5.0,Tomato,1200,2200,1800

# Number of row and column

In [5]:
print('Number of row    :', raw_df.shape[0])
print('NUmber of column :', raw_df.shape[1])

Number of row    : 11456
NUmber of column : 7

# Feature Category

#### Qualitative
- <b>Nominal</b>: Market, Variety
- <b>Ordinal</b>: Arrival Date

#### Quantitative
- <b>Ratio</b>: Arrivals (Tonnes), Minimum Price(Rs./Quintal), Maximum Price(Rs./Quintal), and Modal Price(Rs./Quintal)

# Feature datatype
Fitur Minimum Price(Rs./Quintal), Maximum Price(Rs./Quintal), dan Modal Price(Rs./Quintal) memiliki datatype yang salah yaitu object. Pada tampilan table terlihat bahwa data direpresentasikan dalam bentuk quantitative. Hal ini terjadi, karena beberapa baris pada dataset pengisiannya mismatched berupa string.

In [6]:
raw_df.dtypes.to_frame().rename(columns={0:'Datatype'})

                           Datatype
Market                       object
Arrival Date                 object
Arrivals (Tonnes)           float64
Variety                      object
Minimum Price(Rs./Quintal)   object
Maximum Price(Rs./Quintal)   object
Modal Price(Rs./Quintal)     object

# Mismatced Value
Sebanyak 35 data pada kolom Minimum Price(Rs./Quintal) dan Maximum Price(Rs./Quintal) mismatch value. Data yang dimasukkan berupa 'NR' yang seharusnya data quantitative.

In [7]:
raw_df[(raw_df['Minimum Price(Rs./Quintal)'] == 'NR') | (raw_df['Maximum Price(Rs./Quintal)'] == 'NR')].head(10)

,Market,Arrival Date,Arrivals (Tonnes),Variety,Minimum Price(Rs./Quintal),Maximum Price(Rs./Quintal),Modal Price(Rs./Quintal)
9037,Bagepalli,21/11/2017,13.0,NaN,NR,NR,NR
9038,Bagepalli,22/11/2017,13.0,NaN,NR,NR,NR
9039,Bagepalli,23/11/2017,14.0,NaN,NR,NR,NR
9040,Bagepalli,25/11/2017,16.0,NaN,NR,NR,NR
9041,Bagepalli,27/11/2017,16.0,NaN,NR,NR,NR
9042,Bagepalli,28/11/2017,16.0,NaN,NR,NR,NR
9043,Bagepalli,29/11/2017,16.0,NaN,NR,NR,NR
9044,Bagepalli,30/11/2017,18.0,NaN,NR,NR,NR
9422,Bagepalli,2/12/2017,20.0,NaN,NR,NR,NR
9423,Bagepalli,4/12/2017,21.0,NaN,NR,NR,NR

# Duplicate Value
Terdapat 76 baris data yang duplikat yang semua berada pada market Kolar.

In [9]:
raw_df[raw_df.duplicated()].head(10)

,Market,Arrival Date,Arrivals (Tonnes),Variety,Minimum Price(Rs./Quintal),Maximum Price(Rs./Quintal),Modal Price(Rs./Quintal)
9689,Kolar,NaN,NaN,Tomato,334,1000,667
9697,Kolar,NaN,NaN,Tomato,334,667,500
9701,Kolar,NaN,NaN,Tomato,334,734,534
9703,Kolar,NaN,NaN,Tomato,334,667,500
9705,Kolar,NaN,NaN,Tomato,334,667,500
9707,Kolar,NaN,NaN,Tomato,334,667,500
9709,Kolar,NaN,NaN,Tomato,300,634,467
10113,Kolar,NaN,NaN,Tomato,334,667,500
10117,Kolar,NaN,NaN,Tomato,334,667,500
10121,Kolar,NaN,NaN,Tomato,300,634,467

# Missing Value
Missing value direpresentasikan dalam bentuk persen. Kolom yang memiliki missing value, antara lain Arrival Date sebesar 0.0118%, Arrivals (Tonnes) sebesar 0.0118%, dan Variety sebesar 0.0031%.

In [10]:
round(raw_df.isna().sum().to_frame().rename(columns={0:'Missing Value'}) / 11456, 4)

                            Missing Value
Market                             0.0000
Arrival Date                       0.0118
Arrivals (Tonnes)                  0.0118
Variety                            0.0031
Minimum Price(Rs./Quintal)         0.0000
Maximum Price(Rs./Quintal)         0.0000
Modal Price(Rs./Quintal)           0.0000

In [18]:
raw_df[raw_df['Arrival Date'].isna() | raw_df['Arrivals (Tonnes)'].isna() | raw_df['Variety'].isna()]

,Market,Arrival Date,Arrivals (Tonnes),Variety,Minimum Price(Rs./Quintal),Maximum Price(Rs./Quintal),Modal Price(Rs./Quintal)
166,Hoskote,NaN,NaN,Tomato,2000,2400,2300
9037,Bagepalli,21/11/2017,13.0,NaN,NR,NR,NR
9038,Bagepalli,22/11/2017,13.0,NaN,NR,NR,NR
9039,Bagepalli,23/11/2017,14.0,NaN,NR,NR,NR
9040,Bagepalli,25/11/2017,16.0,NaN,NR,NR,NR
9041,Bagepalli,27/11/2017,16.0,NaN,NR,NR,NR
9042,Bagepalli,28/11/2017,16.0,NaN,NR,NR,NR
9043,Bagepalli,29/11/2017,16.0,NaN,NR,NR,NR
9044,Bagepalli,30/11/2017,18.0,NaN,NR,NR,NR
9422,Bagepalli,2/12/2017,20.0,NaN,NR,NR,NR
9423,Bagepalli,4/12/2017,21.0,NaN,NR,NR,NR
9424,Bagepalli,5/12/2017,22.0,NaN,NR,NR,NR
9425,Bagepalli,6/12/2017,23.0,NaN,NR,NR,NR
9426,Bagepalli,7/12/2017,24.0,NaN,NR,NR,NR
9427,Bagepalli,11/12/2017,26.0,NaN,NR,NR,NR
9428,Bagepalli,12/12/2017,25.0,NaN,NR,NR,NR
9429,Bagepalli,13/12/2017,26.0,NaN,NR,NR,NR
9430,Bagepalli,14/12/2017,29.0,NaN,NR,NR,NR
9431,Bagepalli,16/12/2017,27.0,NaN,NR,NR,NR
9432,Bagepalli,18/12/2017,29.0,NaN,NR,NR,NR
9433,Bagepalli,19/12/2017,29.0,NaN,NR,NR,NR
9434,Bagepalli,20/12/2017,31.0,NaN,NR,NR,NR
9435,Bagepalli,21/12/2017,33.0,NaN,NR,NR,NR
9436,Bagepalli,26/12/2017,29.0,NaN,NR,NR,NR
9437,Bagepalli,27/12/2017,32.0,NaN,NR,NR,NR
9438,Bagepalli,28/12/2017,32.0,NaN,NR,NR,NR
9439,Bagepalli,30/12/2017,32.0,NaN,NR,NR,NR
9465,Bangarpet,30/12/2017,1.0,NaN,NR,NR,NR
9592,Chintamani,30/12/2017,363.0,NaN,NR,NR,NR
9635,Doddaballa Pur,30/12/2017,1.0,NaN,NR,NR,NR
9669,K.R.Nagar,30/12/2017,1.0,NaN,NR,NR,NR
9681,Kolar,NaN,NaN,Tomato,400,1600,1000
9683,Kolar,NaN,NaN,Tomato,500,1167,834
9685,Kolar,NaN,NaN,Tomato,334,1000,667
9687,Kolar,NaN,NaN,Tomato,334,667,500
9689,Kolar,NaN,NaN,Tomato,334,1000,667
9691,Kolar,NaN,NaN,Tomato,300,1000,667
9693,Kolar,NaN,NaN,Tomato,300,634,467
9695,Kolar,NaN,NaN,Tomato,300,367,334
9697,Kolar,NaN,NaN,Tomato,334,667,500
9699,Kolar,NaN,NaN,Tomato,334,734,534
9701,Kolar,NaN,NaN,Tomato,334,734,534
9703,Kolar,NaN,NaN,Tomato,334,667,500
9705,Kolar,NaN,NaN,Tomato,334,667,500
9707,Kolar,NaN,NaN,Tomato,334,667,500
9709,Kolar,NaN,NaN,Tomato,300,634,467
9711,Kolar,NaN,NaN,Tomato,334,600,467
9713,Kolar,NaN,NaN,Tomato,300,534,420
9715,Kolar,NaN,NaN,Tomato,300,534,400
9717,Kolar,NaN,NaN,Tomato,300,500,400
9719,Kolar,NaN,NaN,Tomato,300,467,386
9720,Kolar,31/12/2017,416.0,NaN,NR,NR,NR
9754,Mulabagilu,31/12/2017,70.0,NaN,NR,NR,NR
9780,Mysore (Bandipalya),31/12/2017,361.0,NaN,NR,NR,NR
9838,Srinivasapur,30/12/2017,25.0,NaN,NR,NR,NR
9839,Srinivasapur,31/12/2017,27.0,NaN,NR,NR,NR
10113,Kolar,NaN,NaN,Tomato,334,667,500
10115,Kolar,NaN,NaN,Tomato,300,734,520
10117,Kolar,NaN,NaN,Tomato,334,667,500
10119,Kolar,NaN,NaN,Tomato,300,600,453
10121,Kolar,NaN,NaN,Tomato,300,634,467
10123,Kolar,NaN,NaN,Tomato,300,534,420
10125,Kolar,NaN,NaN,Tomato,334,600,467
10127,Kolar,NaN,NaN,Tomato,300,567,434
10129,Kolar,NaN,NaN,Tomato,267,600,434
10131,Kolar,NaN,NaN,Tomato,300,534,420
10133,Kolar,NaN,NaN,Tomato,334,667,500
10135,Kolar,NaN,NaN,Tomato,334,667,500
10137,Kolar,NaN,NaN,Tomato,300,667,487
10139,Kolar,NaN,NaN,Tomato,334,734,534
10141,Kolar,NaN,NaN,Tomato,300,667,486
10143,Kolar,NaN,NaN,Tomato,334,800,567
10145,Kolar,NaN,NaN,Tomato,400,1134,767
10147,Kolar,NaN,NaN,Tomato,300,667,487
10149,Kolar,NaN,NaN,Tomato,300,600,450
10151,Kolar,NaN,NaN,Tomato,300,500,400
10153,Kolar,NaN,NaN,Tomato,300,567,434
10155,Kolar,NaN,NaN,Tomato,300,534,420
10157,Kolar,NaN,NaN,Tomato,333,620,467
10159,Kolar,NaN,NaN,Tomato,300,500,400
10161,Kolar,NaN,NaN,Tomato,320,534,426
10163,Kolar,NaN,NaN,Tomato,300,500,400
10165,Kolar,NaN,NaN,Tomato,300,400,354
10167,Kolar,NaN,NaN,Tomato,313,420,367
10169,Kolar,NaN,NaN,Tomato,334,600,467
10171,Kolar,NaN,NaN,Tomato,306,393,353
10173,Kolar,NaN,NaN,Tomato,300,434,367
10541,Kolar,NaN,NaN,Tomato,313,453,380
10543,Kolar,NaN,NaN,Tomato,300,434,367
10545,Kolar,NaN,NaN,Tomato,313,420,367
10547,Kolar,NaN,NaN,Tomato,334,534,434
10549,Kolar,NaN,NaN,Tomato,367,634,500
10551,Kolar,NaN,NaN,Tomato,300,467,387
10553,Kolar,NaN,NaN,Tomato,334,534,434
10555,Kolar,NaN,NaN,Tomato,334,467,400
10557,Kolar,NaN,NaN,Tomato,300,367,334
10559,Kolar,NaN,NaN,Tomato,267,400,334
10561,Kolar,NaN,NaN,Tomato,300,367,334
10563,Kolar,NaN,NaN,Tomato,300,467,387
10565,Kolar,NaN,NaN,Tomato,300,400,346
10567,Kolar,NaN,NaN,Tomato,306,334,320
10569,Kolar,NaN,NaN,Tomato,300,467,386
10571,Kolar,NaN,NaN,Tomato,300,400,354
10573,Kolar,NaN,NaN,Tomato,306,360,334
10575,Kolar,NaN,NaN,Tomato,300,367,334
10577,Kolar,NaN,NaN,Tomato,334,667,500
10579,Kolar,NaN,NaN,Tomato,334,434,386
10581,Kolar,NaN,NaN,Tomato,334,600,467
10583,Kolar,NaN,NaN,Tomato,300,500,400
10585,Kolar,NaN,NaN,Tomato,334,534,434
10587,Kolar,NaN,NaN,Tomato,300,500,400
10589,Kolar,NaN,NaN,Tomato,300,367,334
10591,Kolar,NaN,NaN,Tomato,300,367,334
10593,Kolar,NaN,NaN,Tomato,334,534,434
10595,Kolar,NaN,NaN,Tomato,367,500,434
10968,Kolar,NaN,NaN,Tomato,334,400,367
10970,Kolar,NaN,NaN,Tomato,300,434,367
10972,Kolar,NaN,NaN,Tomato,334,434,367
10974,Kolar,NaN,NaN,Tomato,300,500,400
10976,Kolar,NaN,NaN,Tomato,334,600,467
10978,Kolar,NaN,NaN,Tomato,300,634,467
10980,Kolar,NaN,NaN,Tomato,334,534,434
10982,Kolar,NaN,NaN,Tomato,334,767,553
10984,Kolar,NaN,NaN,Tomato,334,534,434
10986,Kolar,NaN,NaN,Tomato,334,800,567
10988,Kolar,NaN,NaN,Tomato,300,500,400
10990,Kolar,NaN,NaN,Tomato,300,534,420
10992,Kolar,NaN,NaN,Tomato,334,667,500
10994,Kolar,NaN,NaN,Tomato,300,567,434
10996,Kolar,NaN,NaN,Tomato,300,534,420
10998,Kolar,NaN,NaN,Tomato,334,534,434
11000,Kolar,NaN,NaN,Tomato,300,634,467
11002,Kolar,NaN,NaN,Tomato,334,1000,667
11004,Kolar,NaN,NaN,Tomato,400,2000,1200
11006,Kolar,NaN,NaN,Tomato,300,900,600
11008,Kolar,NaN,NaN,Tomato,334,534,434
11010,Kolar,NaN,NaN,Tomato,300,500,400
11012,Kolar,NaN,NaN,Tomato,300,534,420
11014,Kolar,NaN,NaN,Tomato,333,734,533
11016,Kolar,NaN,NaN,Tomato,334,1000,667
11018,Kolar,NaN,NaN,Tomato,334,1334,834
11020,Kolar,NaN,NaN,Tomato,300,634,467
11022,Kolar,NaN,NaN,Tomato,300,700,500
11024,Kolar,NaN,NaN,Tomato,300,767,534
11026,Kolar,NaN,NaN,Tomato,334,1000,667
11028,Kolar,NaN,NaN,Tomato,300,834,567
11324,Kolar,NaN,NaN,Tomato,334,934,634
11326,Kolar,NaN,NaN,Tomato,300,900,600
11328,Kolar,NaN,NaN,Tomato,334,867,600
11330,Kolar,NaN,NaN,Tomato,300,834,567
11332,Kolar,NaN,NaN,Tomato,300,900,600
11334,Kolar,NaN,NaN,Tomato,300,967,634
11336,Kolar,NaN,NaN,Tomato,334,1000,667
11338,Kolar,NaN,NaN,Tomato,300,834,567
11340,Kolar,NaN,NaN,Tomato,300,900,600
11342,Kolar,NaN,NaN,Tomato,300,1000,647
11344,Kolar,NaN,NaN,Tomato,300,834,567
11346,Kolar,NaN,NaN,Tomato,334,867,600
11348,Kolar,NaN,NaN,Tomato,334,934,634
11350,Kolar,NaN,NaN,Tomato,300,834,567
11352,Kolar,NaN,NaN,Tomato,300,800,547
11354,Kolar,NaN,NaN,Tomato,300,667,480
11356,Kolar,NaN,NaN,Tomato,300,567,433
11358,Kolar,NaN,NaN,Tomato,300,600,453
11360,Kolar,NaN,NaN,Tomato,334,567,447
11362,Kolar,NaN,NaN,Tomato,300,567,434
11364,Kolar,NaN,NaN,Tomato,300,500,400
11366,Kolar,NaN,NaN,Tomato,300,433,366
11368,Kolar,NaN,NaN,Tomato,300,534,420
11370,Kolar,NaN,NaN,Tomato,300,500,400